.form-container {
  
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.sign-event #clubname,.sign-event #phonenumber,.sign-event #email,.sign-event #myfile,.sign-event #description,.sign-event #Capacity,#date
{
    width:400px;
}
.form-container input{
    width:100vh;
    height:6vh;
    font-weight: bold;
    font-size: large
}
.form-container label{
    color: crimson;
}
.sign-event{
    width:990px;
}
.create1.picture1{
    width:140px;
}



.contain12{
    border:solid 2px rgb(205, 199, 199);
    border-radius: 20px;
    height:120vh;
    box-shadow:2px 2px 2px rgb(234, 221, 221) ;
    background-color: #292D3E;
    
    
    margin-top: 15px;
    }
    .contain12 select{
        height:40px;
       
    }
    .errm{
        margin-left: 50px;
    }
    .item2 select{
        margin-left: 10px;
    }
    .sign-event h4{
        font-weight: bold;
        color: rgb(132, 130, 244);
        margin-bottom: 20px;
        margin-left: 90px;
        padding-top: 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .contain12 .title1{
        padding: 25px;
        font-size: large;
    }
    .create1 .picture1{
        margin-left: 10px;
      
        
    }
    .item2.name{
        margin-left: 2px;
    }
    .itemr.name1{
        margin-left: 2px;
    }
    .create1 .sign-event{
        background-color:#292D3E;
        width:590px;
        text-align: center;
        margin-left: 19px;
    }
    .sign-event input[type="file"]{
        width: 600px;
    height:6vh
    
    }
   
    .item2 #description{
      height:10vh;
    
    }
    #email1
    { width:400px;
        margin-left: 10px;
    }
    .item2 select{
        width:220px;
        margin-left: -16px;
       
    }
    .itemr .slider{
        width:300px;
        margin-left: 18px;
        margin-top: 6px;
       
    }
    .val h5{
        margin-left: 7px;
    }
    .item2 label{
        width:106px
    }
    .itemr label{
        width:116px;
        margin-left: -72px;
    }
    
    .item2{
        display: flex;
    }
    #email{
        margin-left: 25px;
    }
    .sign-event #image{
        margin-left: -35px;
    }
  
    .Title2 h5{
        color: rgb(228, 49, 49);
    }
    .btn1{
        background-color: rgb(3, 58, 39);
        margin-left: 100px;
    }
    label{
        margin-right: 22px;
        font-weight: bold;
        color: darkcyan;
    }
    .item2{
        display: flex;
        justify-content: space-around
    }
    .itemr{
        display: flex;
        justify-content: space-around
    }
    
    #image4{
        margin-left: 0px;
    }
    
    .create1{
        display: flex;
        border-radius: 10px;
        
        background-color:#292D3E;
    
    }
    .sign-event input{
        width:100;
        margin-left: 2px;
    }
    .imge{
        height:500px;
        width:550px;
        background-color: #292D3E;
    }
    .content{
        background-color: #292D3E;
    }
    .custom-swal-container{
        width:450px;
        height: 300px;
        z-index: 9999;
    }
    .swal-alert {
        z-index: 9999; /* Set a high z-index value to display it on top */
        width:600px;
        height:650px;
        margin: auto;
      }
     
    .custom-swal-container table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
      }
      
      .custom-swal-container table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      .custom-swal-backdrop {
        background: transparent; /* Change the background to transparent */
        backdrop-filter: none; /* Remove blur effect */
        opacity: 0.5; /* Adjust opacity as needed */
      }
      