/* styles.css */

/* Style the table container */
.table-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .slots-label {
    margin-right: 8px;
  }
  
  .checkbox-label {
    margin-right: 16px;
    display: flex;
    align-items: center;
  }
  
  .custom-checkbox {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    -webkit-appearance: none;
    appearance: none;
    /* border: 2px solid #4CAF50; */
    border-radius: 3px;
    /* background-color: #4CAF50; */
  }
  
  /* .custom-checkbox:checked {
    background-color: #4CAF50; /* Green color for checked checkbox */
  
  /* Add these styles to your CSS */
  
  .checkbox-label.red-checkbox .custom-checkbox {
    
    border-color: 2px solid red; /* Change border color to red when the slot value is 0 */
    background-color: red;
  }

  
  .checkbox-label.red-checkbox .custom-checkbox:checked {
    background-color: red; /* Change background color to red when the checkbox is checked and the slot value is 0 */
  }
  .checkbox-label.green-checkbox .custom-checkbox {
    
    border-color: 2px solid #4CAF50;
    background-color: #4CAF50;
  }

  
  .checkbox-label.green-checkbox .custom-checkbox:checked {
    background-color:  #4CAF50; /* Change background color to red when the checkbox is checked and the slot value is 0 */
  }

  
  
  
  
  .contain4{
    border:solid 2px rgb(205, 199, 199);
    border-radius: 20px;
    height:100%;
    box-shadow:2px 2px 2px rgb(234, 221, 221) ;
    padding: 15px;
    margin-top: 20px;
}
  /* Style the table headers */
  th {
    background-color: #f2f2f2;
    font-weight: bolder;
    text-align: left;
    padding: 10px;
    color: rgb(11, 61, 24);
  }
  
  /* Style the table rows */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style table data cells */
  td {
    padding: 10px;
  }
  
  /* Style the table itself */
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
  }
  
  /* Style table hover effect */
  tr:hover {
    background-color: #e0e0e0;
  }
  